@model CarViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Car number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt class="col-sm-2">
            Manufacturer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            Coupe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Fuel type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class="col-sm-2">
            Horsepower
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horsepower)
        </dd>
        <dt class="col-sm-2">
            Transmission type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class="col-sm-2">
            Number of gears
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gears)
        </dd>
        <dt class="col-sm-2">
            Color
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Is this car sold
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt class="col-sm-2">
            User number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            Dealership number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealershipId)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@Model.CarId">Edit</a> 
    <a class="btn btn-outline-primary" asp-action="Index">Back</a>
</div>
